<h1 class="text-center">確認画面</h1>

<%= form_with(model: @rental, url: rentals_path, local: true) do |form| %>
  <%= form.hidden_field :rent_property_name %>
  <%= form.hidden_field :rent %>
  <%= form.hidden_field :address %>
  <%= form.hidden_field :building_age %>
  <%= form.hidden_field :note %>

  <div class="field">
    <p class="label">物件名:</p>
    <p><%= @rental.rent_property_name %></p>
  </div>

  <div class="field">
    <p class="label">賃料:</p>
    <p><%= @rental.rent.to_s(:delimited) %>円</p>
  </div>

  <div class="field">
    <p class="label">住所:</p>
    <p><%= @rental.address %></p>
  </div>

  <div class="field">
    <p class="label">築年数:</p>
    <p><%= @rental.building_age %>年</p>
  </div>

  <div class="field">
    <p class="label">備考:</p>
    <p><%= @rental.note %></p>
  </div>

  <%= form.fields_for :stations do | station | %>
    <%= station.hidden_field :route_name %>
    <%= station.hidden_field :station_name %>
    <%= station.hidden_field :walk_fraction %>

    <% @rental.stations.each do |station|%>
      <h2>最寄り駅<%= station.id%></h2>

      <div class="field">
        <p class="label">路線名:</p>
        <p><%= station.route_name %></p>
      </div>

      <div class="field">
        <p class="label">駅名:</p>
        <p><%= station.station_name %></p>
      </div>

      <div class="field">
        <p class="label">徒歩分数:</p>
        <p><%= station.walk_fraction %>分</p>
      </div>
    <% end %>

  <% end %>

  <div class="action text-center">
    <%= form.submit %>
  </div>

<% end %>

<%= form_with(model:@rental, url:new_rental_path, local:true, method:"get") do |form| %>
    <%= form.submit "戻る", name: "back" %>
<% end %>
